.event-info {
    padding-top: 6px;
    border-bottom: 1px solid #dde3ea;
    border-left: 1px solid #dde3ea;
    border-right: 1px solid #dde3ea;
}

.event-show-primary-market {
    padding: 5px;
    display: table-cell;
    width: 35px;
    vertical-align: middle;
    cursor: pointer;
}

.event-teams {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
}

.event-score {
    display: table-cell;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    width: 55px;
}

.score-box {
    width: 55px;
    display: table-cell;
    padding: 7px;
    border-radius: 5px;
    background-color: #0f3484;
}

.teams-and-score {
    display: table;
    table-layout: fixed;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .event-info {
        font-size: 14.5px;
    }
} 

@media only screen and (max-width: 650px) {
    .event-info {
        font-size: 14px;
    }
} 

@media only screen and (max-width: 550px) {
    .event-info {
        font-size: 13.5px;
    }
} 

@media only screen and (max-width: 480px) {
    .event-info {
        font-size: 13px;
    }
}

@media only screen and (max-width: 460px) {
    .event-info {
        font-size: 12px;
    }
}

@media only screen and (max-width: 430px) {
    .event-info {
        font-size: 10.5px;
    }
} 
