.app-header {
    background-color: #153f8e;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 25px;
}
  
.header-title {
    font-size: 2em;
    display: inline-block;
    cursor: pointer;
}

.odds-box {
    float: right;
    margin-right: 50px;
    display: table-cell;
}

.odds-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.odds-button {
    padding: 10px;
    cursor: pointer;
    background-color: #cfdae9;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #353865;
}

.odds-box button:nth-child(2) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.odds-box button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.odds-button-selected {
    background-color: rgb(18, 187, 18);
    color: #fff;
}