.primary-market-outcomes-box {
    margin-top: 4px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.outcome-box {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, #FFFFFF, #EBEFF5);
    border-right: 1px solid #e4ebf3;
    border-top: 1px solid #e4ebf3;
    color: #484848;
    display: table-cell;
    text-align: center;
}

.outcome-box:hover {
    background-image: linear-gradient(to bottom, #EBEFF5, #FFFFFF);
}

.price {
    color: #d92231;
    font-weight: bold;
}

.primary-market-outcomes-box > div:last-child {
    border-right: 0;
}
