.win-draw-win-outcomes-box {
    width: 100%;
    display: table;
    table-layout: fixed;
    border: 1px solid #b3bfd3;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.win-draw-win-outcome-box {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, #FFFFFF, #EBEFF5);
    border-right: 1px solid #e4ebf3;
    color: #484848;
    display: table-cell;
    text-align: center;
}

.win-draw-win-outcome-box:hover,
.standard-outcome-price:hover,
.correct-score-have-data:hover {
    background-image: linear-gradient(to bottom, #EBEFF5, #FFFFFF);
}

.price {
    color: #d92231;
    font-weight: bold;
}

.win-draw-win-outcomes-box > div:last-child {
    border-right: 0;
}

.standard-outcomes-box {
    border: 1px solid #b3bfd3;
    font-size: 0.9rem;
}

.standard-outcome-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
}

.standard-outcome-name {
    display: table-cell;
    font-weight: bold;
    color: #484848;
    border-right: 1px solid #e4ebf3;
    border-bottom: 1px solid #e4ebf3;
    padding: 10px;
}

.standard-outcome-price {
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e4ebf3;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FFFFFF, #EBEFF5);
}

.correct-score-outcomes-box {
    border: 1px solid #b3bfd3;
    font-size: 0.9rem;
}

.correct-score-title-row {
    width: 100%;
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
}

.correct-score-title-row-home,
.correct-score-title-row-draw,
.correct-score-title-row-away {
    display: table-cell;
    text-align: center;
    padding: 10px;
    background-color: #ebeff5;
    color: #727693;
    font-weight: bold;
}

.correct-score-outcome-row {
    display: table;
    table-layout: fixed;
    text-align: center;
    color: #727693;
    font-weight: bold;
    width: 100%;
}

.correct-score-outcome-data {
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #e4ebf3;
    border-bottom: 1px solid #e4ebf3;
    color: #484848;
}

.correct-score-have-data {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FFFFFF, #EBEFF5);
}

.suspended,
.not-displayable {
    display: table-cell;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #e4ebf3;
    cursor: not-allowed;
    background-color: #cccccc;
    color: #777777;
    font-weight: bold;
    background-image: none;
}

.suspended:hover,
.not-displayable:hover {
    background-image: none;
}

.not-displayable {
    color: #484848;
    background-color: #fff;
}

.red-highlight {
    background-image: none;
    background-color: #fae7e7;
}

.green-highlight {
    background-image: none;
    background-color: #ceebc5;
}
